/api/finalProject/Bank/target/
/exams_S2/data/practice/nbproject/private/
/exams_S2/data/practice/build/
/exams_S2/data/practice/dist/
/exams_S2/adv_prog/adv_prog/nbproject/private/
/exams_S2/adv_prog/adv_prog/build/
/exams_S2/adv_prog/adv_prog/dist/